<form class="col-sm-12 col-md-6  mx-auto" [formGroup]="addTaskForm">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" formControlName="description" placeholder="Enter Description">
  </div>    
  <div class="mb-3">
    <button type="submit" class="form-control" (click)="saveTask()" *ngIf="edit!=true" id="submit" class="btn btn-success">Save</button>
    <button type="submit" class="form-control" (click)="updateTask()" *ngIf="edit == true" id="submit" class="btn btn-success">Update</button>
  </div>
</form>
